@charset "UTF-8";
/* ------------ base ------------ */
body, html {
  min-height: 100% !important;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', "source-han-sans-traditional", sans-serif, 'arial', "微軟正黑體", "Microsoft JhengHei";
  word-wrap: break-word;
  word-break: normal;
  line-height: 1.85;
  background: #edeadf;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1.8;
  font-family: "source-han-sans-traditional", sans-serif;
}

*:hover {
  -moz-transition: color, 0.5s, ease-in;
  -o-transition: color, 0.5s, ease-in;
  -webkit-transition: color, 0.5s, ease-in;
  transition: color, 0.5s, ease-in;
}

p {
  font-size: 1.125em;
  font-weight: 200;
  font-family: 'Roboto', "source-han-sans-traditional", sans-serif;
}

a {
  -moz-transition: color, 0.5s, ease-in;
  -o-transition: color, 0.5s, ease-in;
  -webkit-transition: color, 0.5s, ease-in;
  transition: color, 0.5s, ease-in;
}
a:hover, a:focus {
  text-decoration: none;
}

.clearfix {
  *zoom: 1;
}
.clearfix:after, .clearfix:before {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}

ul, li {
  margin: 0;
  padding: 0;
  -webkit-padding-start: 0;
  list-style: none;
}

.btn-default {
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  padding: 10px 20px;
  background: #ec6833;
  color: #fff;
  border: 0;
  outline: none;
}
.btn-default:hover, .btn-default:active, .btn-default:focus, .btn-default:active:hover, .btn-default:active:focus {
  background: #ba0926;
}

:focus {
  outline: none;
}

::-moz-focus-inner {
  border: 0;
}

.plus {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  overflow: hidden;
}
.plus::before, .plus::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  top: 50%;
  left: 0;
  margin-top: -1px;
  background: #fff;
  box-shadow: 0 5px 10px #000;
  height: 2px;
}
.plus::before {
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.plus::after {
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#wrapper {
  height: 100%;
  min-height: 100%;
  *zoom: 1;
}
#wrapper:after, #wrapper:before {
  content: "";
  display: table;
}
#wrapper:after {
  clear: both;
}

.section {
  text-align: center;
  *zoom: 1;
}
.section:after, .section:before {
  content: "";
  display: table;
}
.section:after {
  clear: both;
}
.section h2 {
  font-weight: 700;
  font-size: 3.5em;
  text-align: center;
  margin-bottom: 30px;
}
.section#Character, .section#Store, .section#Concept {
  padding-top: 50px;
  padding-bottom: 120px;
}
@media only screen and (max-width: 768px) {
  .section#Character, .section#Store, .section#Concept, .section#Badge, .section#Star-Prod {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .section#Character h2, .section#Store h2, .section#Concept h2, .section#Badge h2, .section#Star-Prod h2 {
    font-size: 2.5em;
  }
}
@media only screen and (max-width: 767px) {
  .section h2 {
    margin-bottom: 20px;
    line-height: 1.2;
  }
  .section h2 span {
    display: block;
  }
}

#Carousel {
  width: 100%;
  height: 100%;
  min-height: 760px;
  overflow: hidden;
  position: relative;
}
#Carousel.carousel {
  height: 100%;
  min-height: 760px;
  overflow: hidden;
}
#Carousel.carousel .item, #Carousel.carousel .carousel-inner, #Carousel.carousel .mask {
  height: 100%;
  min-height: 760px;
}
#Carousel.carousel .mask {
  position: absolute;
  width: 100%;
  z-index: 9;
  background: url('../images/dot.png?1461754505');
}
@media only screen and (max-width: 768px) {
  #Carousel.carousel .item, #Carousel.carousel .carousel-inner, #Carousel.carousel .mask {
    min-height: 820px;
  }
}

.carousel-fade .carousel-inner .item:nth-child(1) {
  background: url('../images/slider1.jpg?1464792137');
}
.carousel-fade .carousel-inner .item:nth-child(2) {
  background: url('../images/slider2.jpg?1464792137');
}
.carousel-fade .carousel-inner .item:nth-child(3) {
  background: url('../images/slider3.jpg?1464792138');
}
.carousel-fade .carousel-inner .item:nth-child(1), .carousel-fade .carousel-inner .item:nth-child(2), .carousel-fade .carousel-inner .item:nth-child(3) {
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}
.carousel-fade .carousel-inner .item, .carousel-fade .carousel-inner .active.left, .carousel-fade .carousel-inner .active.right {
  opacity: 0;
}
.carousel-fade .carousel-inner .active, .carousel-fade .carousel-inner .next.left, .carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-inner .next, .carousel-fade .carousel-inner .prev, .carousel-fade .carousel-inner .active.left, .carousel-fade .carousel-inner .active.right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

#Home {
  width: 100%;
  height: 100%;
  min-height: 100%;
  display: table;
  text-align: center;
  *zoom: 1;
}
#Home:after, #Home:before {
  content: "";
  display: table;
}
#Home:after {
  clear: both;
}
#Home article {
  width: 100%;
  top: 160px;
  color: #fff;
  font-size: 250%;
  position: absolute;
  z-index: 999;
}
#Home header {
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.6), 0 8px 20px rgba(0, 0, 0, 0.9);
}
#Home header * {
  margin: 4px auto;
  line-height: 1.1;
}
#Home header h1 {
  font-size: 1.38em;
  font-weight: 900;
  letter-spacing: .08em;
}
#Home header h1 span {
  display: block;
}
#Home header h2 {
  font-size: 0.58em;
  font-weight: 200;
  letter-spacing: .2em;
  margin-bottom: 20px;
}
#Home section {
  width: 50%;
  margin: 20px auto;
  padding: 10px 10px 20px;
  *zoom: 1;
  background-color: transparent;
  background-color: rgba(0, 0, 0, 0.5);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#80000000,endColorstr=#80000000);
  zoom: 1;
}
#Home section:after, #Home section:before {
  content: "";
  display: table;
}
#Home section:after {
  clear: both;
}
#Home section * {
  margin-bottom: 10px;
  color: #fff;
}
#Home section h3 {
  font-size: 0.9em;
  font-weight: 500;
  line-height: 1.2;
}
#Home section h4 {
  font-size: 0.58em;
  letter-spacing: .17em;
  line-height: 1.2;
}
#Home section h5 {
  font-size: 0.58em;
  font-weight: 500;
}
#Home section h5 i {
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  text-shadow: none;
}
#Home section p {
  font-size: 16px;
  line-height: 1.6;
}
#Home section .btn {
  color: #fff;
  padding: 16px 36px;
  margin: 0 10px;
}
#Home section .col-sm-6 {
  padding: 0 4%;
  margin-top: 10px;
}
#Home section .col-sm-6:nth-of-type(1) {
  border-right: 1px solid #fff;
}
#Home .navbar {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzY3NzYwMCIgc3RvcC1vcGFjaXR5PSIwLjkiLz48c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzY3NzYwMCIgc3RvcC1vcGFjaXR5PSIwLjUiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMC4wIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(103, 118, 0, 0.9)), color-stop(50%, rgba(103, 118, 0, 0.5)), color-stop(100%, rgba(255, 255, 255, 0)));
  background-image: -moz-linear-gradient(rgba(103, 118, 0, 0.9), rgba(103, 118, 0, 0.5) 50%, rgba(255, 255, 255, 0));
  background-image: -webkit-linear-gradient(rgba(103, 118, 0, 0.9), rgba(103, 118, 0, 0.5) 50%, rgba(255, 255, 255, 0));
  background-image: linear-gradient(rgba(103, 118, 0, 0.9), rgba(103, 118, 0, 0.5) 50%, rgba(255, 255, 255, 0));
  border-bottom: none;
  text-align: center;
}
#Home .navbar h2.logo {
  width: 116px;
  font-size: 0.9em;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
  -moz-transition: all, 0.5s, ease-in;
  -o-transition: all, 0.5s, ease-in;
  -webkit-transition: all, 0.5s, ease-in;
  transition: all, 0.5s, ease-in;
}
#Home .navbar h2.logo img {
  width: 100%;
}
#Home .navbar h2.logo * {
  -moz-transition: all, 0.5s, ease-in;
  -o-transition: all, 0.5s, ease-in;
  -webkit-transition: all, 0.5s, ease-in;
  transition: all, 0.5s, ease-in;
}
#Home .navbar h2.logo span {
  display: block;
}
#Home .navbar h2.logo-s {
  display: none;
}
#Home .navbar h2.past-logo {
  padding: 0;
  margin: 4px;
}
#Home .navbar h2.past-logo img {
  width: 50px;
  height: 50px;
}
#Home .navbar h2.past-logo span {
  display: none;
}
#Home .navbar .navbar-toggle {
  font-size: 1.5em;
  padding: 4px 6px;
  position: absolute;
  right: 0;
  top: 0;
}
#Home .navbar .navbar-nav {
  float: none;
  text-align: center;
}
#Home .navbar .navbar-nav li {
  float: none;
  vertical-align: middle;
  display: -moz-inline-stack;
  display: inline-block;
  *display: inline;
  zoom: 1;
  font-size: 1.125em;
  letter-spacing: .05em;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.6), 0 2px 20px rgba(0, 0, 0, 0.3);
}
#Home .navbar .navbar-nav li a {
  color: #fff;
}
#Home .navbar .navbar-nav li a:hover, #Home .navbar .navbar-nav li a:focus {
  color: #f7b430;
  background: none;
}
#Home .navbar .navbar-nav li a:focus {
  color: #fff;
}
#Home .past-main {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzY3NzYwMCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzY3NzYwMCIgc3RvcC1vcGFjaXR5PSIwLjciLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #677600), color-stop(100%, rgba(103, 118, 0, 0.7)));
  background-image: -moz-linear-gradient(#677600, rgba(103, 118, 0, 0.7));
  background-image: -webkit-linear-gradient(#677600, rgba(103, 118, 0, 0.7));
  background-image: linear-gradient(#677600, rgba(103, 118, 0, 0.7));
}
#Home .social-media li {
  display: -moz-inline-stack;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  font-size: 20px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  margin: 2px;
  border-radius: 100%;
}
#Home .social-media li:nth-child(1) {
  background: #3b5998;
}
#Home .social-media li:nth-child(2) {
  background: #00c300;
}
#Home .social-media li:nth-child(2) img {
  margin-top: 3px;
}
#Home .social-media li:nth-child(3) {
  background: #7bb32e;
}
#Home .social-media li:nth-child(4) {
  background: #dc4e41;
}
#Home .social-media li a {
  display: block;
}
#Home .social-media li span {
  display: block;
  margin-bottom: 0;
}
#Home .social-media li i {
  margin-bottom: 0;
}
#Home .social-media li img {
  width: 40px;
}
@media only screen and (min-width: 769px) and (max-width: 991px) {
  #Home section {
    width: 70%;
  }
}
@media only screen and (max-width: 768px) {
  #Home {
    min-height: 820px;
  }
  #Home article {
    top: 200px;
  }
  #Home section {
    width: 80%;
  }
}
@media only screen and (max-width: 767px) {
  #Home {
    height: auto;
  }
  #Home article {
    top: 60px;
  }
  #Home .navbar {
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzY3NzYwMCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzY3NzYwMCIgc3RvcC1vcGFjaXR5PSIwLjciLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #677600), color-stop(100%, rgba(103, 118, 0, 0.7)));
    background-image: -moz-linear-gradient(#677600, rgba(103, 118, 0, 0.7));
    background-image: -webkit-linear-gradient(#677600, rgba(103, 118, 0, 0.7));
    background-image: linear-gradient(#677600, rgba(103, 118, 0, 0.7));
    color: #fff;
  }
  #Home .navbar h2.logo-s {
    display: block;
    padding: 10px;
    margin: 0;
    float: left;
    font-size: 1.125em;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.6), 0 2px 20px rgba(0, 0, 0, 0.3);
  }
  #Home .navbar h2.logo-s a {
    color: #fff;
  }
  #Home .navbar h2.logo-s img {
    width: 180px;
  }
  #Home .navbar .navbar-nav {
    margin-bottom: 0;
  }
  #Home .navbar .navbar-nav li {
    display: block;
    padding: 10px;
    border-bottom: 1px solid #849511;
  }
  #Home .navbar .navbar-nav li:nth-child(3) {
    display: none;
  }
  #Home header {
    margin-top: 30px;
  }
  #Home header h1 {
    font-size: 32px;
  }
  #Home header h2 {
    letter-spacing: .05em;
  }
  #Home header h2 span {
    display: block;
  }
  #Home section .btn {
    margin: 6px;
  }
  #Home section .col-sm-6 h5 {
    line-height: 1;
    margin: 0;
  }
  #Home section .col-sm-6:nth-of-type(1) {
    border-top: 1px solid #fff;
    padding-top: 20px;
    border-right: none;
    margin-bottom: 30px;
  }
}
@media only screen and (max-width: 480px) {
  #Home .social-media li {
    width: 46px;
    height: 46px;
    line-height: 46px;
    margin: 0;
  }
}
@media only screen and (max-width: 320px) {
  #Home header h1 {
    font-size: 26px;
  }
}

#Character {
  margin-top: 40px;
}
#Character h2 {
  color: #381e00;
}
#Character article {
  *zoom: 1;
  text-align: left;
}
#Character article:after, #Character article:before {
  content: "";
  display: table;
}
#Character article:after {
  clear: both;
}
#Character article img {
  box-shadow: 0 6px 0 rgba(236, 104, 51, 0.9);
  margin: 0 auto;
}
#Character article section h4 {
  font-size: 1.75em;
  color: #381e00;
  position: relative;
  margin-top: 40px;
  line-height: 1.2;
}
#Character article section h4 span:nth-child(1) {
  position: absolute;
  top: -60px;
  left: 44%;
  margin-right: 10px;
  background: #ec6833;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #fff;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
@media only screen and (min-width: 769px) and (max-width: 991px) {
  #Character article section {
    padding-top: 0;
  }
  #Character article section h4 span:nth-child(1) {
    left: 40%;
  }
}
@media only screen and (max-width: 768px) {
  #Character article section {
    padding-top: 0;
  }
  #Character article section h4 {
    text-align: center;
  }
  #Character article section h4 span:nth-child(1) {
    left: 40%;
  }
}
@media only screen and (max-width: 767px) {
  #Character article img {
    margin: 3% auto;
  }
  #Character article section h4 span:nth-child(1) {
    left: 46%;
  }
}
@media only screen and (max-width: 480px) {
  #Character article section h4 span:nth-child(1) {
    left: 42%;
  }
}

#Store h2 {
  color: #381e00;
}
#Store .col-xs-6 {
  padding: 6%;
}

#Concept h2, #Badge h2 {
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.6), 0 8px 20px rgba(0, 0, 0, 0.9);
}
#Concept h2 span, #Badge h2 span {
  display: -moz-inline-stack;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
#Concept h2 span.plus, #Badge h2 span.plus {
  margin-top: 20px;
}
#Concept .slide, #Badge .slide {
  position: relative;
  width: 100vw;
  box-sizing: border-box;
  box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.7);
  transform-style: inherit;
}
#Concept img, #Badge img {
  position: absolute;
  top: 50%;
  left: 35%;
  transform: translateZ(0.25px) scale(0.75) translateX(-94%) translateY(-100%) rotate(2deg);
  padding: 10px;
}
#Concept img::last-of-type, #Badge img::last-of-type {
  transform: translateZ(0.4px) scale(0.6) translateX(-104%) translateY(-40%) rotate(-5deg);
}
#Concept .slide:before, #Badge .slide:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
#Concept .slide, #Concept .slide:before, #Badge .slide, #Badge .slide:before {
  background: 0% 50% / cover;
  background-repeat: no-repeat;
}
#Concept .header, #Badge .header {
  text-align: center;
  font-size: 175%;
  color: #fff;
  text-shadow: 0 2px 2px #000;
}

#Concept {
  text-align: left;
  background: url('../images/spirit.jpg?1461754497') center right;
  background-attachment: fixed;
}
#Concept section {
  color: #fff;
  font-size: 1em;
  width: 80%;
  margin: 20px auto;
  padding: 2% 3%;
  background-color: transparent;
  background-color: rgba(236, 104, 51, 0.6);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99EC6833,endColorstr=#99EC6833);
  zoom: 1;
}
#Concept section h4 {
  text-align: center;
}
#Concept section hr {
  border-color: #fff;
}
#Concept blockquote {
  position: relative;
  display: block;
  width: 60%;
  margin: 0 auto;
  color: #fff;
  font-size: 1.75em;
  border-left: none;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.6), 0 8px 20px rgba(0, 0, 0, 0.9);
  padding: 0.5em 10px;
  quotes: "“" "”" "‘" "’";
}
#Concept blockquote:before, #Concept blockquote:after {
  position: absolute;
}
#Concept blockquote:before {
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
  left: -20px;
  top: 20px;
}
#Concept blockquote:after {
  content: close-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
  right: 0;
  bottom: 0;
}
#Concept blockquote p:nth-child(1) {
  padding-left: 20px;
}
#Concept blockquote p:nth-child(2) {
  padding-right: 40px;
}
@media only screen and (max-width: 768px) {
  #Concept h2 span.plus {
    margin-top: 7px;
  }
  #Concept blockquote {
    width: 88%;
  }
  #Concept blockquote:after {
    right: -20px;
    bottom: -10px;
  }
  #Concept blockquote p {
    padding-left: 0;
    font-size: 0.9em;
  }
}
@media only screen and (max-width: 480px) {
  #Concept h2 {
    margin-bottom: 20px;
  }
  #Concept h2 span {
    display: block;
    margin: 0 auto;
  }
  #Concept blockquote p {
    font-size: 0.75em;
  }
}

#Badge {
  padding: 6% 0;
  background: url('../images/Badge.jpg?1461754507') center right;
  background-attachment: fixed;
}
#Badge p {
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.6), 0 8px 20px rgba(0, 0, 0, 0.9);
}
#Badge img.mark-img {
  position: static;
  transform: none;
  width: 120px;
  margin: 0 auto 20px;
  padding-top: 0;
}
#Badge img.mark-img::last-of-type {
  transform: none;
}
#Badge section ul li {
  display: -moz-inline-stack;
  display: inline-block;
  *display: inline;
  zoom: 1;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  padding-top: 30px;
  margin: 20px;
  line-height: 1.25em;
  background-color: transparent;
  background-color: rgba(103, 118, 0, 0.8);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#CC677600,endColorstr=#CC677600);
  zoom: 1;
  color: #fff;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.8), 0 8px 20px rgba(0, 0, 0, 0.9);
}
#Badge section ul li * {
  display: block;
  margin: 0 auto;
  color: #fff;
}
#Badge section ul li i {
  font-size: 1.5em;
  margin-bottom: 6px;
}

#Social {
  text-align: center;
  min-height: 250px;
  background-color: #f7b430;
  color: #fff;
  padding-top: 40px;
  padding-bottom: 40px;
}
#Social ul {
  margin-bottom: 40px;
}
#Social ul li {
  display: -moz-inline-stack;
  display: inline-block;
  *display: inline;
  zoom: 1;
  margin: 12px;
  vertical-align: top;
}
#Social ul li a {
  font-size: 1.5em;
  color: #fff;
  width: 220px;
  height: 50px;
  border-radius: 60px;
  display: block;
  overflow: hidden;
  line-height: 50px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4), 0 10px 20px rgba(0, 0, 0, 0.6);
}
#Social ul li a:active {
  margin-top: 10px;
}
#Social ul li:nth-child(1) a {
  display: block;
  background: #3b5998;
}
#Social ul li:nth-child(1) a i {
  margin-right: 10px;
}
#Social ul li:nth-child(2) a {
  background: #4fc315;
}
#Social ul li:nth-child(2) a img {
  width: 60px;
  margin-top: -4px;
}

#Star-Prod {
  padding: 5% 0;
}
#Star-Prod h2 {
  color: #381e00;
}
#Star-Prod article h4 {
  color: #677600;
}
#Star-Prod article img {
  width: 90%;
  height: 90%;
  margin: 0 auto;
  padding: 0;
  border: 10px solid #ffe26f;
}

#Footer {
  background: #381e00;
  color: #fff;
  padding: 30px;
}
